


.boton-ver-mas{
        display: flex;
        justify-content: center;
        color: #a09f9fb9;
        
        .btn-secondary{
            width: 10vw;
            height: 7vh;
        }
        
    }