@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Truculenta:opsz,wght@12..72,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Header */

.header {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    margin: 0px;
    background-color: #6868683a ;  
    z-index: 2000; /* valor alto para que sobresalga */
}


/* Logo*/



.logo{
    width: 5vw;
    height: auto;
}


/* Menu hamburguesa */

.navbar-toggler{
    
    background-color: #ffffffe7;
    
}

.navbar-toggler-icon {
    width: 30px;  
    height: 40px; 
    
}



/* Nav */


.nav-link{
    
    font-size: 2vw;
    font-weight: bold;
    color: white;
    
}

.nav-link:hover{
    color: #cf56ff;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}   



/* Buscador */

.form-control{
    width: 15vw;
    height: auto;
}

.btn-outline-success{
    background-color: #cf56ff31;
    color: white;
    border-color: #cf56ff;
    
}

.btn-outline-success:hover{
    background-color: #cf56ff;
    border-color:#cf56ff; ;
    box-shadow: 0 0 10px 2px #cf56ff
}

.form-control:focus{
    outline: none;
    box-shadow: 0 0 5px 2px #cf56ff ;
    border-color: #cf56ff;
    
}




/* Main */




/* Body*/

body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* header - main - footer */
    min-height: 100vh;
    gap: 10px;
    overflow-x: hidden;
    
}


/* Fondo */

body {
    background-image: url("https://images.unsplash.com/photo-1550684376-efcbd6e3f031?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); /* Copio el enlace de la imagen en vez de descargarla en la pc para no perder calidad*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

/* Inicio */

/* Inicio titulo */

main h1{
    color: #cf56ff;
    text-align: center;
    font-family: "Oswald";
    font-size: 4vw;
    
}

/* Productos inicio */

/* CAROUSEL DESKTOP */



.carousel {
    position: relative;
    margin-right: 100px
}

.carousel-inner{
    bottom: 50px;
}

.imagen-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Desactivo el CAROUSEL MOBILE */

#carousel-mobile{
    display: none;
}

/* NOMBRE Y PRECIO PRODUCTO */

.producto{
    margin: 0;
}

.producto h2{
    margin: 3px;
    font-size: 15px;
    text-align: center;

}
.producto h3{
    font-size: 15px;
    text-align: center;
    color: white;
    margin: 2px;
    
}

/* IMAGENES */


.imagen-row img {
    display: flex;
    justify-content: space-around;
    height: 75vh; 
    width: auto;  
    object-fit: contain;
    border-radius: 6px; 
}

/* CONTROLES CAROUSEL */

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    z-index: 10;
}

.carousel-control-prev {
    left: 10px; 
}

.carousel-control-next {
    right: 10px; 
}


/* Productos */


/* Productos titulo */

.productos-titulo{
    color: #cf56ff;
    text-align: center;
    font-family: "Oswald";
    font-size: 3vh;
    margin-top: 5vh;
}

/* Productos productos */

.productos-productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:5px;
    

}

.item-productos{
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    max-width: 100%;

}

.item-productos img{
    width: 100%;
    height: auto;
    margin: 0px;
    
}

.item-productos h2{
    color: #cf56ff;
    font-size: 4vh;
    margin: 0;
}

.item-productos h3{
    font-size: 3vh;
    margin: 10px;
    color: white;

}

/* Ofertas */

/* Ofertas titulo */

.ofertas-titulo{
    color: #cf56ff;
    text-align: center;
    font-family: "Oswald";
    font-size: 3vh;
    margin-top: 5vh;
}

/* Ofertas pruductos */

.productos-ofertas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:5px;

}

.item-ofertas{
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    max-width: 100%;

}

.item-ofertas img{
    width: 100%;
    height: auto;
    margin: 0px;
    
}

.item-ofertas h2{
    color: #cf56ff;
    font-size: 4vh;
    margin: 0;
}



.item-ofertas h3{
    font-size: 3vh;
    margin: 10px;
    

}


.descuento{
    display: flex; 
    text-align: center;
    justify-content: center;
    margin: 0;
}


.precio-actual{
    color: white;
}

.precio-anterior{
    text-decoration: line-through;
    color: gray;
    
}


/* Contacto */


.form-completo{
    display: grid;
    justify-content: center;
    margin:0
}

.form-contenedor{
    width: 500px;
    background-color: #6868683a;
}

.titulo-form{
    color: #cf56ff;
    font-size: 10vh;
}

.checkbox-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

form div {
    display: flex;
    flex-direction: column;
    color: #cf56ff;
    font-family: "Oswald";
    text-align: center;
    font-size: 3vh;
    
}

/* Preguntas Frecuentes */

main h2{
    color: #cf56ff;
    font-family: "Oswald";
    font-size: 5vh;
    margin: 2vh;
}

.preguntas-frecuentes-titulo{
    font-size: 50px ;
    text-align: center;
}



.form-texto h3{
    color: white;
    font-family: "Josefin Sans" ;
    font-size: 3vh;
    margin: 3vh;
}


main div{
    margin: 2vw;
}

main div li{
    color: white;
    font-family: "Josefin Sans" ;
    font-size: 3vh;
    margin: 3vh;
}


/* Wpp flotante */
.wpp-container{
    position: sticky;
    bottom: 2vh;
    display: flex;
    justify-content: flex-end;
    
    
}

.wpp-flotante{
    
    display: flex;
    justify-items: flex-end;
    width: fit-content;
    
}

.wpp-container img{
    margin-right: 5px;
    width: 4vw;
    height: auto;
    border-radius: 10vh;

}



/* Footer */

/* Background */

.footer {

    width: 100%;
    height: auto;  
    background-color: #a09f9fb9; 
    

    
}


/* Redes sociales */

.redes-sociales h2 {
    color: #212529;
    text-align: center;
    font-family:"Oswald" ;
    font-size: 5vh ;
    padding: 10px; 
    
}

.iconos-footer{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.icono-ig {
    width: 5vh;
    height: auto;
    border-radius: 10px;
}

.facebook {
    width: 5vh;
    height: auto;
    border-radius: 10px;
}

.wpp {
    
    width: 5vh;
    height: auto;
    border-radius: 10px;
}

/* Medios y contacto footer */

.medios-contacto{
    display: flex;
    justify-content: space-between;
    
}  

/* Medios footer */


.medios-footer {
    display: flex;
    gap: 80px;               /* espacio entre las columnas */
    align-items: flex-start; /* alinea todos arriba y recto */
    padding: 30px;
}

.bloque {
    display: flex;
    flex-direction: column; /* pone texto arriba, imagen abajo */
    align-items: center;    /* centrado dentro de cada bloque*/
    text-align: center;
}

.bloque h2 {
    font-family: "Oswald";
    font-size: 20px;
    margin-bottom: 10px;   /* controla el espacio entre texto e imagen */
}

.pago {
    width: 200px;
    height: auto;
}

.envio {
    width: 50px;
    height: 35px;
}

/* Contacto footer */

.contacto-footer{
    margin-right: 50px;
    margin-top: 30px;
    
}

.contacto-footer h2{
    font-family: "oswald";
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.contacto-footer p{
    font-family: "Josefin Sans";
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    
}

/* Derechos */
.derechos { 
    text-align: center;
    color: black ;
    font-size: 15px;
    bottom: 0;
    font-family: "Josefin Sans";
    
}


/* Linea footer */

.footer hr{
    
    border-color: #000000;
    margin: 15px 0;
    
}


/* Responsive mobile */

@media (max-width:425px){

    body {
    background-attachment: scroll; 
    }

    /* HEADER */


    .container-fluid{
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 


    
    #navbarMenu {
        flex-direction: column;
        align-items: center;
    
    } 

    /* LOGO */

    .logo{

        height: auto;
        width: 15vw;
    }
    
    .secciones li a {

        font-size: 15px;
        
    }

    .form-control{
    width: 50vw;
    height: auto;

    }

    /* NAV */

    .nav-link{
        font-size: 6vw;
    }

    /* Buscador */

    .buscador-mobile {
        display: flex;
        justify-content: center;
        
        
    } 

    .navbar-nav{
        display: flex;
        gap: 5px;
    }
    
    
    
    /* MAIN INICIO */


    .productos-inicio{
        grid-template-columns: repeat(2,1fr);
        
    }

    .titulo-inicio{
        font-size: 50px;
    }

    .item h2{
        font-size: 15px;
        padding-top: 15px ;
    }

    .item h3{
        font-size: 20px;
    }

    
    /* desactivo el CAROUSEL DESKTOP */

    #carousel-desktop{
        display: none;
    }

    /* activo el CAROUSEL MOBILE*/

    #carousel-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        width: 100%;
    }

    /* .imagen-row{
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap; 
        max-width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }  */

    /* .imagen-row img {
        max-width: 100%;  
        height: auto;     
        max-height: 50vh; 
        object-fit: contain;
        border-radius: 6px;
    } */

    .producto h2{
        font-size: 30px;
    }

    .producto h3{
        font-size: 25px;
    }

    .titulo-inicio{
        text-align: center;
        font-size: 40px;
        
    }
    
    

    /* MAIN OFERTAS */

    .productos-ofertas{
        grid-template-columns: repeat(2,1fr);
        
    }

    .ofertas-titulo{
        margin-bottom: 50px;
        font-size: 22px;
    }

    .item-ofertas h2{
        font-size: 15px;
        padding-top: 10px ;
    }

    .item-ofertas h3{
        font-size: 15px;
    }


    /* MAIN PREGUNTAS FRECUENTES */

    .form-texto{
        
        margin: 0;
    }

    .preguntas-frecuentes-titulo {
        font-size: 40px;
    }

    .preguntas-frecuentes h2 {
        font-size: 20px;
    }

    .preguntas-frecuentes h3{
        font-size: 20px;
    }
    .form-texto div li{
        font-size: 20px;
    }

    .preguntas-frecuentes {
    display: grid;
    gap: 15px;
    margin: 0;
    padding: 0;

    }

    
    /* MAIN CONTACTO */

    

    .form-contenedor{
    width: auto;
    height: auto;
    padding: 30px;
    }

    .titulo-form{
        font-size: 15vw;
    }

    .formulario{
        display: grid;
        gap: 20px;
    }

    .formulario div{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .formulario input{
        margin: 0 5vw;
        width: 90%;
        max-width: 100%;
    }

    .formulario textarea {
        margin: 0 5vw;
        height: 15vh;
        width: 90%;
        max-width: 100%;
    }

    .checkbox-container input{
        width: 20px;
        height: auto;
        margin:0;
        
        
    }

    .enviar-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .enviar-buttom {
        font-size: 20px;
        width: 100px;       
        height: 40px;    
        

    }
    /* WPP FLOTANTE */

    .wpp-container img{
        width: 13vw;
        margin-right: 5px;
        
    }




    /* FOOTER */

    

    /* redes */

    .redes-sociales h2{
        font-size: 25px ;    
    }

    .icono-ig{
        height: auto;
        width: 10vw;
    }
    
    .facebook{
        height: auto;
        width: 10vw;
    }

    .wpp{
        height: auto;
        width: 10vw;
    }

    /* medios */

    .medios-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bloque h2{
        font-size: 15px;
    }

    .pago{
        width: 40vw;
        height: auto;
    }

    .envio{
        width: 10vw;    
        height: auto;
    }
    
    .contacto-footer {
        margin: 0 ;         
    }
    

    

    
    

}

